@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "DM Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}

p,
li,
.accordion-body {
  font-family: "DM Sans", sans-serif;
  color: #9298a7;
}

.btn {
  padding: 0.75em 1.5em !important;
  border-radius: 2em !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}

.navbar-expand-xl .navbar-nav .nav-link {
  color: #9298a7 !important;
}

.dropdown-item {
  color: #9298a7 !important;
  font-size: 0.9rem;
  margin: 1em 0;
}

.navbar-expand-xl .navbar-nav .nav-link,
.navbar-expand-xl .navbar-nav .btn {
  margin: 0 1.75em;
  font-size: 0.9rem;
}

.navbar-nav .btn {
  padding: 0.75em 1.5em;
}

.navbar-expand-xl .navbar-nav .dropdown-menu {
  margin-top: 1.75em;
  border: none;
  box-shadow: rgba(60, 83, 255, 0.1) 0px 48px 100px 0px;
  padding: 1em 2em;
}

.dropdown-toggle::after {
  display: none;
}

@media (max-width: 768px) {
  .navbar-nav {
    margin-top: 30%;
    margin-right: 2em;
  }

  .navbar-nav .btn {
    font-size: 21px !important;
    padding: 1em 1.5em !important;
  }

  .nav-link {
    margin: 1em 0 !important;
    font-size: 28px;
    font-weight: 600;
    text-align: left !important;
    justify-self: flex-end;
  }
}

.header-highlight {
  color: #0044ff;
}

.header-parah {
  font-size: 1.35rem !important;
  font-weight: 500;
  max-width: 1000px !important;
}

.header-btn {
  padding: 0.75em 2em !important;
  font-size: 18px !important;
  font-weight: 500 !important;
  border-radius: 2em !important;
}

/* .hero-img {
  max-width: 600px;
} */

header {
  height: calc(100vh - 146px);
  display: flex;
  align-items: center;
  /* background-color: #ffffff;
  background-image: radial-gradient(#0044ff2d 0.75px, transparent 0.75px),
    radial-gradient(#0044ff2d 0.75px, #ffffff 0.75px);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px; */
}

.card-body {
  min-height: 285px !important;
}

@media (max-width: 768px) {
  .who-we-are {
    margin-bottom: 2em !important;
  }
  .header-parah {
    font-size: 1.1rem !important;
  }

  header {
    margin-bottom: 5em;
  }

  .card-body {
    min-height: 250px !important;
  }
}

.service-parah {
  max-width: 850px;
  margin: auto;
}

.service-card {
  box-shadow: #0044ff25 0px 48px 100px 0px;
}

.service-btn {
  font-size: 12px !important;
}

.service-card p {
  font-size: 14px !important;
}

.footer-top-text p {
  max-width: 500px !important;
}

.about-sec-head {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(1, 7, 23);
  background: linear-gradient(
    135deg,
    rgba(1, 7, 23, 1) 0%,
    rgba(7, 39, 126, 1) 50%,
    rgba(0, 68, 255, 1) 100%
  );
}

.stage-img {
  max-width: 100px !important;
}

.stages {
  box-shadow: #0044ff25 0px 48px 100px 0px;
}

.conform {
  box-shadow: #0044ff25 0px 48px 100px 0px;
}

@media (max-width: 768px) {
  .conform {
    margin-top: 10px;
    width: 100%;
    /* border-radius: 32px; */
    margin-left: 0px;
  }
}

.accordion-button:not(.collapsed) {
  color: aliceblue !important;
  background-color: #0044ff;
}

.accordion-item {
  border: 0 !important;
  box-shadow: none !important;
  border-radius: 1em !important;
  margin-bottom: 1em !important;
}

button:not(.collapsed) {
  border: 0 !important;
  border-color: none !important;
}

.faq {
  max-width: 1200px !important;
  margin: auto;
}

.faq-bar {
  box-shadow: #0044ff25 0px 48px 100px 0px;
}

.accordion-button {
  padding: 1.25em 1.5em;
}

.footer a {
  text-decoration: none !important;
  color: #9298a7 !important;
}

.footer-p {
  max-width: 500px;
}
